:root {
  --c1: #E4D6E3;
  --c2: #000;
  --c3: #FFF;
  --c4: #888;
}


@media (prefers-color-scheme: dark) {
  :root {
    --c1: #224422;
    --c2: #DDD;
    --c3: #333;
    --c4: #888;
    }
}


* {
  box-sizing: border-box;
	padding: 0rem;
  margin: 0rem;
}

body {
  display: flex;
  flex-direction: column;
	font-family: sans-serif;
  height: 100vh;
  background: var(--c1);
}

body > * {
  margin: 1rem;
}

h1 {
  font-weight: normal;
  color: var(--c2);
}

textarea {
  flex: 1 1 auto;
  resize: none;
  padding: 1rem;
  border: var(--c2) solid thin;
  border-radius: 0.25rem;
  outline: none;
  background: var(--c3);
  color: var(--c2);
}

span {
	font-weight: bold;
}

.over textarea {
  background: var(--c4);
}

.over:after {
  content: attr(data-drop-placeholder);

  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: var(--c3);
  font-size: 3em;
}